[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "pytorch-cpu"
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = false

[[source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/cu111"
verify_ssl = false

[dev-packages]
autoflake = "*"
black = "*"
flake8 = "*"
gputil = "*"
ipykernel = "*"
ipython = "*"
isort = "*"
jupyter = "*"
jupyter-http-over-ws = "*"
jupyterthemes = "*"
mypy = "*"
psutil = "*"
pydocstyle = "*"
pytest = "*"
pyupgrade = "*"

[packages]
matplotlib = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
seaborn = "*"
xlrd = "*"
# deep learning packages for fastai course
azure-cognitiveservices-search-imagesearch = "*"
category-encoders = "*"
fastai = "*"
fastbook = "*"
graphviz = "*"
humanize = "*"
ipywidgets = "*"
pydot = "*"
seaborn-qqplot = "*"
sentencepiece = "*"
tensorflow = "*"
# reference https://stackoverflow.com/questions/59752559/how-to-specify-pytorch-cuda-version-in-pipenv
torch = {index = "pytorch", version = "==1.9.0"}
torchvision = {index = "pytorch", version = "==0.10.0"}
#voila = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
