[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# Install pre-commit if required
# To run use `pipenv run pre-commit run -a`
autoflake = "*"
bandit = "*"
black = "*"
flake8 = "*"
ipython = "*"
isort = "*"
jupytext = "*"
mypy = "*"
nbqa = "*"
pydocstyle = "*"
pytest = "*"

[packages]
jupyter = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
seaborn = "*"
xlrd = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
