[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autoflake = "*"
bandit = "*"
black = "*"
flake8 = "*"
ipython = "*"
isort = "*"
mypy = "*"
pydocstyle = "*"
pytest = "*"

[packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
